/*
Base css stylesheet file.
Base style across the website.
*/

* {
	margin: 0px;
	padding: 0px;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	color: #2e2e2e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: #f1f1f1;
    text-align: center;
}

#page {
	height: 100%;
	width:100%;
	overflow:scroll;
	/* background-color:#FF9; */
}

.searchBar{
	position:absolute;
	width:100%;
	height:15%;
	background-color:#999;
}

.searchBar table{
	display:block;
	width:100%;
	height:100%;
}

#logo, #userControl{
	padding:0;
	height:10%;
	width:15%;
}

#logoIMG {
	margin:10% 20% 10% 20%;
	display:block;
	height:50%;
	width:100%;
}

#control {
	margin:20% 20% 20% 20%;
	height:auto;
	width:auto;
	background-color:#fff;
}

#page #content {
	position:absolute;
	left: 0px;
	width: 100%;
	top:15%;
	/* scratch the page to max height */
	min-height: 85%;
	
	background: rgb(178,225,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */

}

#page #schedule {
	display: block;
	position: absolute;
	float: left;
	width:100%;
	min-height:100%;
	
}


#page #selection {
	display: block;
	position: absolute;
	right:0px;
	width: 25%;
	height:60%;
	min-height: 100%;
	background-color: #000000;
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 30%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(30%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 30%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 30%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 30%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 30%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 */
}

#page #selection_handle{
	position:absolute;
	right:0;
	height:100%;
	width:20px;
	background-color: #000000;
}


.draggable{
	position:absolute;
	
	width: 100%;
	height: 100%;
	background-color:#FCC;
	z-index:4;
}
.draggable_divD1{
	position:absolute;
	left: 25%;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}
.draggable_divD2{
	position:absolute;
	right: 25%;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}
.draggable_divS{
	position:absolute;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}
.draggable_divT1{
	position:absolute;
	left: 17%;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}
.draggable_divT2{
	position:absolute;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}
.draggable_divT3{
	position:absolute;
	right: 17%;
	width: 17%;
	height: 52%;
	background-color:#000;
	z-index:3;
}

.draggable p{
	position:absolute;
	margin-top:15px;
	margin-left:7px;
}


.courseSec{
	border-style:outset;
	border-color:#F00;
	position:relative;
	margin:20px 10px 20px 30px;
	width:auto;
	height:120px;
	display:block;
}
.courseSec .className{
	background-color:#393;
	
}

.courseSec .draggableItems{
	padding:20px 0px 20px 0px;
	position:absolute;
	width:58%;
	height:60px;
	background-color:#6FF;
	padding-left:42%;
}

.RED{
	background-color:#900;
}

#schForm{
	position:absolute;
	margin:22px 3% 22px 3%;
	height:500px;
	width:92%;
	background-color:#9F0;
	padding:0;
}

#schForm td{
	margin:0;
	padding:0;
	width:70px;
}
#schForm .timeindex{
	margin:0;
	padding:0;
	width:30px;
}
#schForm .indexTable{
	height:30px;
}

.timeindex{
	width:auto;
}

.test{
	text-align:left;
	position:absolute;
	background-color:#900;
	padding:0;
	margin:0;
	
	/* top: 356px; To top 32 px ; To next +=36 */
	width:18.1%; /* Fixed width per day */
	/* height:35px;   Fixed width per hour */
	
}

.dropDiv{
	text-align:left;
	position:absolute;
	background-color:#900;
	padding:0;
	margin:0;
	 /* top: 262.35px; To top 34 px ; To next +=45.67 */
	width:18%; /* Fixed width per day */
	/* height:42px;   Fixed width per hour */
}

.dropActive{
	background: rgb(178,225,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
}

.dropHover{
background: rgb(228,245,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}

.dayIMG {
	width:100%;
	height:100%;
}